/* styles.module.css */
.sidebar {
  background-color: #f0f0f0;
}

.logo {
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.consoleUm {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.consoleDois {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.consoleTres {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.registrar {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.entrar {
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.main {
  background-color: #333;
padding: 20px;
width: 200px;
height: 100vh;
display:flex;
flex-direction: column-reverse;
justify-content:space-between ;
}

